<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @piece.description %>
</p>

<p>
  <strong>Model:</strong>
  <%= @piece.model %>
</p>

<p>
  <strong>Code:</strong>
  <%= @piece.code %>
</p>

<p>
  <strong>Sketch:</strong>
  <%= @piece.sketch %>
</p>

<%= link_to 'Edit', edit_piece_path(@piece) %> |
<%= link_to 'Back', pieces_path %>
